*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #008080;

    padding: 20px;
}

.header a{
    color: white;
}

.menu{
   display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    padding: 10px;
}

.article{
    margin: 0 auto;
    margin-top: 10px;
}

.article h1{
    text-align: center;
    font-size: 2rem;
}

/* CSS FLEXBOX 1*/

.flex{
    display: flex;
    flex-wrap: wrap;

    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}